<%= form_for(@packjob) do |f| %>
  <% if @packjob.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@packjob.errors.count, "error") %> prohibited this packjob from being saved:</h2>

      <ul>
      <% @packjob.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<br />
  <div class="field">
    <%= f.label Time.now.strftime("%m/%d/%Y %I:%M:%S %P") %><br />
    <table cellspacing="10">
      <tr>
    	<th>Packer</th>
	<th>Guest Packer</th>
    	<th>Rig Type</th>
    	<th>Damage</th>
    	<th>Extra Notes</th>
      </tr>
      <tr>
 	<td><%= f.collection_select(:packer_id, @packers, :id, :p_name, { :include_blank => true} ) %></td>
        <td><%= f.text_field :pj_guestpacker %></td>
	<td><%= f.collection_select(:rig_id, @rigs, :id, :rig_type_number,  {:include_blank => true}) %></td>
	<td><%= f.text_field :pj_damage %></td>
	<td><%= f.text_field :pj_extranotes %></td>


      </tr>
    </table
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
