<h1>Listing Packjobs</h1>

<table id=listtable CELLPADDING="4" border="1">
  <tr>
    <th>Datestamp</th>
    <th>Packer</th>
    <th>Guest Packer</th>
    <th>Rig</th>
    <th>Extra Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @packjobs.each do |packjob| %>
  <tr class="<%= cycle('rowA', 'rowB') %>">
    <td><%= link_to packjob.created_at.strftime("%m/%d/%Y %I:%M:%S %P"),packjob_path(packjob.id) %></td>
    <td><%= link_to packjob.pj_packer,packer_path(packjob.packer_id) %></td>
    <td><%= packjob.pj_guestpacker %></td>
    <td><%= link_to packjob.pj_rig_type_number,rig_path(packjob.rig_id) %></td>
    <td><%= packjob.pj_extranotes %></td>
    <td><%= link_to 'Show', packjob %></td>
    <td><%= link_to 'Edit', edit_packjob_path(packjob) %></td>
    <td><%= link_to 'Destroy', packjob, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New Packjob', new_packjob_path %> |
<%= link_to 'Packers', packers_path %> |
<%= link_to 'Rigs', rigs_path %> |
<%= link_to 'Damages', damages_path %>

