<p id="notice"><%= notice %></p>

<p>
   <b>Datestamp:</b>
  <%= @packjob.created_at.strftime("%m/%d/%Y %I:%M %P") %><br>
  <br>
  <b>Packer:</b>
  <%= @packjob.pj_packer %>
</p>

<p>
  <b>Rig:</b>
  <%= @packjob.pj_rig_type_number %>
</p>

<p>
  <b>Option / Comments:</b>
  <%= @packjob.pj_extranotes %>
</p>


<%= link_to 'Edit', edit_packjob_path(@packjob) %> |
<%= link_to 'Back', packjobs_path %>


