<p id="notice"><%= notice %></p>

<p>
   <b>Datestamp:</b>
  <%= @packjob.created_at.strftime("%m/%d/%Y %I:%M %P") %><br>
  <br>
</p>
  <b>Packer:</b>
  <%= @packjob.pj_packer %>
</p>

<p>
  <b>Guest Packer:</b>
  <%= @packjob.pj_guestpacker %>
</p>

<p>
  <b>Rig:</b>
  <%= @packjob.pj_rig_type_number %>
</p>

<p>
  <b>Damage:</b>
  <%= @packjob.pj_damage %>
</p>

<p>
  <b>Extra Notes:</b>
  <%= @packjob.pj_extranotes %>
</p>

<%= link_to 'Edit', edit_packjob_path(@packjob) %> |
<%= link_to 'Packers', packers_path %> |
<%= link_to 'Packjobs', packjobs_path %> |
<%= link_to 'Rigs', rigs_path %> |




