<p id="notice"><%= notice %></p>

<p>
  <b>Packer:</b>
  <%= @packer.p_name %>
</p>

<p>
  <b>CSPA Expiry:</b>
  <%= @packer.p_cspa_date %>
</p>

<p>
  <b>On team?:</b>
  <%= @packer.p_team %>
</p>

<p>
  <table id=listtable CELLPADDING="4" border="1">
    <tr>
      <th>Packjobs:</th>
      
    </tr>   
    <% @packer.packjobs.each do |packjob| %>
    <tr class="<%= cycle('rowA', 'rowB') %>">
        <td><%= link_to  packjob.created_at.strftime("%m/%d/%Y %I:%M:%S %P") + "_____" + packjob.pj_guestpacker + "_____" + packjob.pj_rig_type_number + "_____" + packjob.pj_damage + "_____" + packjob.pj_extranotes, packjob %></td
    </tr>
  <% end %><br/>

  </table>	 
</p>


<%= link_to 'Edit', edit_packer_path(@packer) %> |
<%= link_to 'Back', packjobs_path %>
