<%= form_for(@damage) do |f| %>
  <% if @damage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@damage.errors.count, "error") %> prohibited this damage from being saved:</h2>

      <ul>
      <% @damage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label Time.now.strftime("%m/%d/%Y %I:%M:%S %P") %><br />
  </div>
  <div class="field">
    <%= f.label :dam_rig %><br />
    <%= f.collection_select(:rig_id, @rigs, :id, :rig_type_number,  {:include_blank => true}) %>
  </div>
  <div class="field">
    <%= f.label :dam_detail %><br />
    <%= f.text_area :dam_detail %>
  </div>
  <div class="field">
    <%= f.label :dam_reporter %><br />
    <%= f.collection_select(:packer_id, @packers, :id, :p_name, { :include_blank => true} ) %>
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
