<p id="notice"><%= notice %></p>

<p>
   <b>Datestamp:</b>
  <%= @damage.created_at.strftime("%m/%d/%Y %I:%M %P") %><br>
  <br>
</p>
<p>
  <b>Damaged Rig:</b>
  <%= @damage.dam_rig %>
</p>

<p>
  <b>Damage Detail:</b>
  <%= @damage.dam_detail %>
</p>

<p>
  <b>Damage Reporter:</b>
  <%= @damage.dam_reporter %>
</p>


<%= link_to 'Packjobs', packjobs_path %> |
<%= link_to 'Packers', packers_path %> |
<%= link_to 'Rigs', rigs_path %> 
