<div id=content>
<p id="notice"><%= notice %></p>

<p>
  <b>Rig Online?:</b>
  <%= @rig.rig_status %>
</p>

<p>
  <b>Rig name:</b>
  <%= @rig.rig_type_number %>
</p>

<p>
  <table id=listtable CELLPADDING="4" border="1">
    <tr>
        <th>Datestamp</th>
	<th>Packer</th>
	<th>Guest Packer</th>    	
    	<th>Damage</th>
    	<th>Extra Notes</th>
    </tr> 
    <% @rig.packjobs.each do |packjob| %>
    <tr class="<%= cycle('rowA', 'rowB') %>">
        <td><%= link_to  packjob.created_at.strftime("%m/%d/%Y %I:%M:%S %P"), packjob %></td> 
	<td><%= link_to packjob.pj_packer,packer_path(packjob.packer_id) %></td>
	<td><%= packjob.pj_guestpacker %></td> 
	<td><%= packjob.pj_damage %></td> 
	<td><%= packjob.pj_extranotes %></td>
    </tr>
  <% end %><br/>
  </table>	
</p>


<%
=begin %>
<p>
  <b>Rig jumpnum:</b>
  <%= @rig.rig_jumpnum %>
</p>

<p>
  <b>Rig res last:</b>
  <%= @rig.rig_res_last %>
</p>

<p>
  <b>Rig res who:</b>
  <%= @rig.rig_res_who %>
</p>

<p>
  <b>Rig res due:</b>
  <%= @rig.rig_res_due %>
</p>

<p>
  <b>Rig main last:</b>
  <%= @rig.rig_main_last %>
</p>

<p>
  <b>Rig main who:</b>
  <%= @rig.rig_main_who %>
</p>
<% 
=end %>
</div id=content>
<%= link_to 'Edit', edit_rig_path(@rig) %> |
<%= link_to 'Rigs', rigs_path %> |
<%= link_to 'Packjobs', packjobs_path %>


