<div id=content>
<p id="notice"><%= notice %></p>

<p>
  <b>Rig Online?:</b>
  <%= @rig.rig_status %>
</p>

<p>
  <b>Rig name:</b>
  <%= @rig.rig_type_number %>
</p>

<p>
 
  <br/>
  <table id=listtable CELLPADDING="4" border="1">
    <tr>
      <th>Packjobs:</th>
      
    </tr>   
    <% @rig.rigs.each do |rig| %>
    <tr class="<%= cycle('rowA', 'rowB') %>">
        <td><%= link_to  packjob.created_at.strftime("%m/%d/%Y %I:%M:%S %P") + " " + packjob.pj_guestpacker + " " + packjob.pj_rig_type_number + " " + packjob.pj_damage + " " + packjob.pj_extranotes, packjob %></td
    </tr>
  <% end %><br/>

  </table>	 
  <%= link_to "Create new packjob", new_packjob_path %> 
</p>


<%
=begin %>
<p>
  <b>Rig jumpnum:</b>
  <%= @rig.rig_jumpnum %>
</p>

<p>
  <b>Rig res last:</b>
  <%= @rig.rig_res_last %>
</p>

<p>
  <b>Rig res who:</b>
  <%= @rig.rig_res_who %>
</p>

<p>
  <b>Rig res due:</b>
  <%= @rig.rig_res_due %>
</p>

<p>
  <b>Rig main last:</b>
  <%= @rig.rig_main_last %>
</p>

<p>
  <b>Rig main who:</b>
  <%= @rig.rig_main_who %>
</p>
<% 
=end %>
</div id=content>
<%= link_to 'Edit', edit_rig_path(@rig) %> |
<%= link_to 'Back', rigs_path %>

